@model MyMVC.Models.SoapStor

<form asp-controller="SoapStor" asp-action="Insert" >
    SoapName :<input asp-for="SoapName" />
    Quntity :<input asp-for="Quntity" />
    Price :<input asp-for="Price" />
    <input type="submit" value="Create" class="btn btn-primary" />

</form>