@model MyMVC.Models.Teachar
<form asp-controller="Teachar" asp-action="Insert">
    Name: <input asp-for="Name" />
    <br>
    Age: <input asp-for="Age" />
    <br>
    Gender: <input asp-for="Gender" />
    <br>
    AadharNo: <input asp-for="AadharNo" />
    <br>
    phoneNo: <input asp-for="phoneNo" />
    <br>
    Selery: <input asp-for="Selery" />
    <br>
    Address: <input asp-for="Address" />
    <br>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>



